@import "variables.less";


*{
	padding: 0;
	margin: 0;
}

#outter{
	margin: 20px;
	padding: 20px;
	position: relative;

	transform: rotate(-45deg);

	.git-rect{
		width: @gitScale;
		height: @gitScale;
		background-color: #F05033;
		border-radius: 7%;

		position: absolute;
		top: 0;
		left: 0;
	}

	.git-line{
		width: @lineWeight;
		height: @gitScale * @divideUnit*2;
		background-color: #fff;

		position: absolute;

		&.line-1{
			top: 0;
			left: @gitScale * @divideUnit*2 - @lineWeight / 2;
		}
		&.line-2{
			top: @gitScale * @divideUnit - @lineWeight/2;
			left: @gitScale * @divideUnit*2;

			height: @gitScale * 1.414 * @divideUnit;
			transform-origin: top;
			transform: rotate(45deg);
		}
	}

	.git-dot{
		width: @dotScale;
		height: @gitScale / 5;
		background-color: #fff;
		border-radius: 50%;

		position: absolute;

		&.dot-1{
			top: @gitScale*@divideUnit - @dotScale*@divideUnit*2;
			left: @gitScale*@divideUnit*2 - @dotScale*@divideUnit*1;
		}
		&.dot-2{
			top: @gitScale*@divideUnit*2 - @dotScale/2;
			left: @gitScale*@divideUnit - @dotScale/2;
		}
		&.dot-3{
			top: @gitScale*@divideUnit*2 - @dotScale/2;
			left: @gitScale*@divideUnit*2 - @dotScale/2;
		}
	}

}
